.rotate {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation-name: spin;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;
}

.rotate-fast-up {
  animation-duration: 1s;
}

.rotate-fast-down {
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-direction: reverse;
  animation-timing-function: linear;
}

.rotate-paused {
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

.rewind {
  position: relative;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.rewind-up {
  transform: rotate(4deg);
}

.rewind-down {
  transform: rotate(-4deg);
}

.rotate-paused {
  animation-play-state: paused;
}

.rotate-reset {
  animation: none;
  transform: rotate(0deg);
}

.button-base {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 0.1;
  transition: opacity 250ms;
  background-color: blue;
}

.button-base:hover {
  opacity: 0.3;
}

.button-rewind-down {
  left: 16%;
  bottom: 48%;
  transform: translate(0, 45%);
  width: 30px;
  height: 100px;
}

.button-rewind-up {
  left: 16%;
  top: 14%;
  width: 30px;
  height: 100px;
}

.button-control {
  width: 58px;
  height: 85px;
  bottom: 14.5%;
  left: 43%;
  transform: translate(-43%, -15%);
}

.button-control-left {
  width: 58px;
  height: 85px;
  bottom: 14.5%;
  left: 27%;
  transform: translate(-27%, -15%);
  border-bottom-left-radius: 10px;
}

.button-control-right {
  width: 58px;
  height: 85px;
  bottom: 14.5%;
  right: 31.8%;
  transform: translate(-32%, -15%);
}

.button-control-round {
  width: 18px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.button-control-volume-up {
  right: 23.2%;
  bottom: 41%;
  transform: translate(-23.2%, -41%);
}

.button-control-volume-down {
  right: 28%;
  bottom: 36.5%;
  transform: translate(-28%, -36.5%);
}

.button-control-memo {
  width: 10px;
  height: 46px;
  top: 17.8%;
  right: 19%;
}

.button-control-user-one {
  width: 10px;
  height: 22px;
  top: 30.5%;
  right: 19%;
}

.button-control-user-two {
  width: 10px;
  height: 22px;
  top: 40%;
  right: 19%;
}

.button-control-mode {
  width: 10px;
  height: 53px;
  bottom: 22.4%;
  left: 20.65%;
}

.button-control-knob {
  width: 32px;
  height: 30px;
  top: 1%;
  left: 27.5%;
}

.button-control-rotator {
  width: 220px;
  aspect-ratio: 1;
  top: 13.75%;
  right: 24%;
  border-radius: 100%;
}

.indicator {
  position: absolute;
  z-index: 9999;
  width: 17.5px;
  aspect-ratio: 1;
  top: 57.3%;
  left: 28.25%;
  opacity: 0.5;
  background-color: transparent;
  border-radius: 100%;
  transition: background-color 250ms;
}

.indicator-normal {
  background-color: #f87171;
}

.indicator-flash {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: flash;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-play-state: running;
  background-color: #f87171;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}
